.selected-dates {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000; /* Font color */
    width: 100%; /* spans full width */
}

@media (max-width: 600px) {
    .selected-dates {
        word-wrap: break-word; /* Ensure that dates wrap to the next line */
    }
}
